*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul,ol{
    list-style:none;
}

a{
    text-decoration:none;
}
    
img{
    max-width:100%;
    display:block;
}

.container{
    max-width:1344px;
    margin:0 auto;
    padding-left:24px;
    padding-right:24px;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.w-1{
    width:8.33%;
}

.w-2{
    width:16.66%;
}

.w-3{
    width:25%;
}

.w-4{
    width:33.33%;
}

.w-5{
    width:41.66%;
}
.w-6{
    width:50%;
}

.w-7{
    width:58.33%;
}

.w-8{
    width:66.66%;
}

.w-9{
    width:75%;
}

.w-10{
    width:83.33%;
}

.w-11{
    width:91.66%;
}

.w-12{
    width:100%;
}

.w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
    padding-left:12px;
    padding-right:12px;
}

:root{
    --primary-color:#e6f85e;
    --secondary-color:#bdbfd4;
    --white-color:#fff;
    --gradiant-1:linear-gradient(90.22deg,#58ebff .19%,#e6f85e 101.84%);
    --gradiant-2:linear-gradient(92.73deg,#b324d7 7.07%,#fe577f 97.81%);
    --gradiant-3:linear-gradient(270deg,rgba(50,51,55,.4) 50%,rgba(70,79,111,.2));
    --black-color:#000;
    --grey-color:#747694;
    --fs-14:14px;
    --fs-16:16px;
    --fs-18:18px;
    --fs-20:20px;
    --fs-24:24px;
    --fs-48:48px;
    --fs-32:32px;
    --fs-72:72px;

    --fw-100:100;
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
}

body{
    font-family: 'Space Grotesk';
    color:var(--secondary-color);
    background-color:#11121c;
    
}

/* header start */
header{
    padding:16px ;
}
.menu{
    margin-left: 32px;
    padding: 20px;
}
header .menu ul li a{
    color:var(--secondary-color);
    margin-left: 32px;
}
header .menu ul li:hover a{
    margin-left:32px;
    color:var(--primary-color);
}
header .menu ul li a i{
    font-size:13px;
}
header .menu ul li:first-child a{
    color:var(--secondary-color);
}
header .menu ul li:last-child a{
    border:2px solid var(--primary-color);
    padding:12px 24px;
    border-radius:8px;
    color:var(--primary-color);
    font-weight: 600;
}
.d-flex{
    display:flex;
    flex-wrap:wrap;
}
.justify-end{
    justify-content:flex-end;
}
.items-center{
    align-items: center;
}
header .menu ul li:first-child a:hover{
    color: var(--primary-color);
}

header .menu ul li:last-child a:hover{
    background-color:var(--primary-color);
    color:var(--black-color);
    transition:0.5s;
    font-weight:900;
}

header .menu ul li .drop-down{
    top:100px;
    opacity:0;
    visibility:hidden;
    position:absolute;
    z-index: 9999;
}
header .menu ul li:hover .drop-down{
    visibility:visible;
    opacity:1;
    top:70px;
    transition: 0.5s;
}
header .menu ul li .drop-down ol{
    border: 3px solid var(--grey-color);
    border-radius:10px;
    padding:12px 8px;
    background:#11121c;
}
header .menu ul li .drop-down ol li{
    padding:4px 16px;
    padding-left:10px;
}
header .menu ul li .drop-down ol li a{
    color:var(--secondary-color);
    margin:0;
    padding:4px 16px;
    transition:0.5s;
}
header .menu ul li .drop-down ol li a:hover{
    color: var(--primary-color);
    transition: 0.5s;

}
header .menu ul li .drop-down ol li:last-child a{
    border:0;
    border-radius:0;
    padding:0;
    color:var(--secondary-color);
    background-color:transparent;
    padding-left: 15px;
}

/*header end*/


/* banner-start */

.banner .banner-content{
    text-align:center;
    padding:48px;
   
}
.banner .banner-content span{
    color:var(--primary-color);
}
.banner .banner-content h1{
    font-size:48px;
    padding:20px;
}
.banner .banner-content h1 span{
        color:transparent;
        background-clip: text;
        background-image:var(--gradiant-1);
}
.banner .banner-content a{
    font-size:18px;
    color:var(--white-color);
    padding:12px 16px;
    display:inline-block;
    background:var(--gradiant-2);
    border-radius:10px;
    /* <a> tag me pointer lane ke liye [z-index:-1;] dete hi vo pointer hona start ho jaye ga*/
    z-index:-1;
}
.banner .banner-content img{
    width:962px;
    border:1px solid var(--primary-color);
    border-radius:10px;
    margin:40px auto;
}
.banner .banner-content ul{
    display:flex;
    flex-direction: row;
    justify-content:center;
    color:var(--secondary-color);
    margin:32px 0;
}
.banner .banner-content ul li{
    margin-left: 60px;
    list-style: disc;
}
.banner .banner-content .rating img{
    width:185px;
    border:0;
    border-radius: 0;
    margin: 0 25px;
    padding:20px 0;
}
.justify-center{
    justify-content: center;
}


/*background-img-start*/
.banner{
    position: relative;
}
.banner::after{
    position:absolute;
    content:'';
    box-sizing: border-box;
    width:50%;
    height:60%;
    background-image:url('../img/blurry-shape-1.svg');
    top:0;
    z-index:-1;
}
/*background-image-end*/

/* banner-end */ 



/*tools start*/
.tools{
    padding: 60px 0;

}
.title h2{
    text-align: center;
    font-size: var(--fs-48);
    color:var(--white-color);

}
.title{
    padding-bottom:60px;
}
.tools .content-box  .content-img{
    border:2px solid rgba(108, 100, 100, 0.356);
    padding:8px 9px;
    background: var(--gradiant-3);
    border-radius:8px;
    display: inline-block;
    width: 56px;
    height:56px;
}
.tools .content-box .content-img svg{
    color:var(--primary-color);
}
.tools .content-box .content-body h2{
    font-size:var(--fs-24);
    color:var(--white-color);
    margin-left: 10px;
}
.tools .content-box .content-body p{
    font-size :var(--fs-16);
    color: var(--secondary-color);
    padding-top: 20px;
    margin-bottom: 10px;
    padding-left: 6px;
}
.tools .content-box .content-body{
   padding: 0 0.5px;
}

.tools .btn a{
    color: #000000;
    font-size: var(--fs-16);
    background: transparent;
    font-weight: 500;
    z-index:-1;
    margin:48px auto 0;
    padding: 14px 24px ;
    margin-top: 48px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display:inline-block;
} 

/*tools end*/




 /*features start*/
.features  .features-content{
    padding:60px 0px;
    margin: 87px 0px;
}
.features  .features-content .first-line  span{
    color:var(--primary-color);
    font-size: var(--fs-16);
    
}
.features  .features-content  h1{
    color:var(--white-color);
    font-size:var(--fs-48);
    padding: 20px 0;
}
.features  .features-content  span{
    color: var(--primary-color);
    font-size: var(--fs-48);
}
.features  .features-content  p{
    color:var(--secondary-color);
    font-size:var(--fs-16);
    margin-right: 10px;
    padding: 20px 0;
}
.features  .features-content  ul li i{
    color:var(--secondary-color);
    font-size: var(--fs-16);
    padding-right: 20px;
}
.features  .features-content  ul li p{
    color:var(--secondary-color);
    font-size: var(--fs-16);
    margin: 1px 0;
    padding:5px;
}
.features  .features-content  a{
    margin-top: 30px;
    color:var(--grey-color);
    font-size: var(--fs-16);
    display:inline-block ;
    padding-left: 2px;
    position: relative;
}
.features  .features-content  a i{
    margin-left: 10px;
    transform: rotate(40deg);
}
.features  .features-content a::after{
    position: absolute;
    content:'';
    box-sizing: border-box;
    left:0;
    width:0%;
    height:1px;
    background-color: var(--primary-color);
    bottom:-10px;
}

.features  .features-content a:hover{
    color:var(--primary-color);
    transition: 0.4s;
 
}
.features  .features-content  a:hover::after {
    width: 100%;
    transition: 0.4s;
}

/*features end*/


/*genai start*/

.genai .title  span{
    color: var(--primary-color);
    font-size: 16px;
    display:block;
    text-align: center;
    margin-bottom: 20px;
}
.genai{
    padding: 60px 0 ;
}
.genai  .content-box {
    padding: 0 0.5px;
}
.title h2{
    text-align: center;
    font-size: var(--fs-48);
    color:var(--white-color);
}
.title{
    padding-bottom: 56px;
}
.genai .content-box  .content-img{
    padding:8px;
    background: var(--gradiant-3);
    border-radius:8px;
    border: 1px solid #3e383875;
    display: inline-block;
    margin-top: 56px;
}
.genai .content-box .content-img svg{
    width: 38px;
    height:38px;
    color:var(--primary-color);
    font-size: 16px;
}
.genai .content-box .content-body h5{
    font-size: var(--fs-20);
    color:var(--white-color);
    margin:25px 0 16px ;
}
.genai .content-box .content-body p{
    font-size :var(--fs-16);
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.genai .content-box .content-body a{
    color:var(--grey-color);
    font-size:var(--fs-14);
    display: inline-block;
    margin:10px 0;
    font-weight: var(--fw-800);
    position: relative;
}
.genai .content-box .content-body a::after{
    position: absolute;
    content:'';
    box-sizing: border-box;
    left:0px;
    width:0%;
    height:1px;
    background-color: var(--primary-color);
    bottom:-10px;
}
.genai .content-box .content-body:hover a{
    color:var(--primary-color);
    transition: 0.4s;
}
.genai .content-box .content-body a:hover::after {
    width: 100%;
    transition: 0.4s;
}
.genai .content-box .content-body a i{
    transform:rotate(40deg);
    margin-left:10px;
    font-size:16px;
}
/*genai end*/

/*review start*/
.review{
    padding: 60px 0;
}
.review .heading h2{
    font-size:var(--fs-48);
    margin: 0 0 8px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    line-height:1.25;
    padding-bottom:60px;
}
.review .heading  h2 span{
    color:var(--primary-color);
}
.review .heading img{
    align-items: center;
    display:inline-block;
    font-size:20px;
    padding-top: 100px;
}
.review .review-box{
    padding:4px;
}
.review   .review-content{
    border:2px solid rgba(93, 88, 88, 0.265);
    background: var(--gradiant-3);
    border-radius: 15px;
    width:415px;
    height:250px;
    padding:25px;
    margin: 10px 0;
}
.review .review-content ul li img{
    border-radius: 50%;
    width:48px;
    height:48px;
}
.review .review-content ul li{
    display: inline-block;
}
.review .review-content ul li  h6{
    font-size: var(--fs-18);
    margin:5px 0;
   padding-left: 10px;
}
.review .review-content   ul li p{
    font-size:var(--fs-14);
    margin:5px 0;
    padding-left:4px;
}
.review .review-content  i{
    color: var(--primary-color);
    font-size: 20px;
    padding: 3px ;
    margin-top:10px;
}
.review .review-content  .review-text p{
    font-size: var(--fs-16);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left:5px;
}

/*Pricing start*/
.pricing{
    padding:60px 0;
}
.pricing .pricing-body{
    padding-left:12px;
}

.pricing .title span{
    color: var(--primary-color);
    font-size: var(--fs-16);
    margin: 0 0 16px;
    text-align: center;
    display: block;
}
.pricing .title h1{
    font-size: 48px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0 0 20px;

}
.pricing .title p{
    text-align: center;
    font-size: var(--fs-16);
}
.pricing  .pricing-card{
    width: 416px;
    height: 685px;
    padding:32px 40px;
    border:2px solid #3b3b43b6;
    border-radius: 18px;
    transition: 0.5s;
    position: relative;
    
}
.pricing  .pricing-body .pricing-card .box:last-child ul {
    margin-bottom: 30px;
    margin-top: 0;
   
}

.pricing  .pricing-card span{
    font-size: var(--fs-32);
    color:#bdbfd4 ;
}
/*
.pricing .pricing-card .blue {
    position: absolute;
    width:132px;
    height: 32px;
    margin-left: 35px;
    padding-right: 0px;
    margin-right: 0px;
    border-radius: 10px 0  0 10px ;
    right:0;
    z-index:999;
    margin-right:0;
    padding-right: 0;
    left:59.50%;
    top:-3;
    transform: translate(80deg);
    margin-bottom: 0;
   
}
.pricing .pricing-card .blue h6{
    font-size: var(--fs-16);
    padding: 6px 13px;
    background:#6a4dff;
    color:#ffffff ;
    border-radius: 10px 0  0 10px ;
}

*/
.pricing{
    padding: 60px 0;
}
.pricing .pricing-body{
    margin: 12px 0;
}
.pricing .pricing-card  h4{
    font-size: var(--fs-72);
    margin: 16px  0  0;
    color: #fff;
    line-height: 1.25;
    font-weight: 450;
}

.pricing .pricing-card p{
    font-size: var(--fs-20);
    margin:20px 0 0;
    color:white;
}
.pricing .pricing-card a{
    width:335px;
    height:64px;
    margin:36px 0 0;
    padding:16px 32px;
    border: 0px solid rgba(82, 70, 70, 0.511);
    background:#191a28;
    text-align: center;
    border-radius:15px;
    font-size:var(--fs-24);
    color: white;
    display: block;
    transition: 0.5s;
    font-weight: 700;
    
}
/*btn hover*/
.pricing .pricing-card:hover a{
    background:var(--primary-color);
    color: black;
}

/*box hover*/
.pricing .pricing-card:hover {
    border: 2px solid var(--primary-color);
  
}
/*box hover end*/
.pricing .pricing-card .box{
    width: 335px;
    height: 262px;
    margin:36px 0 0 ;
    height: 0 0 0 32px;

}
.pricing .pricing-card .box ul{
    width: 335px;
    height: 262px;
    margin: 36px 0 0;
    padding: 0 0 0 32px ;
    border:0px solid grey;
    list-style-type: disc;
    font-size: 18px;
}
.pricing .pricing-card ul li{
    color:#bdbfd4;
    font-size: var(--fs-18);
    padding-top:20px;
    margin-bottom: 0;
}
.pricing .pricing-card ul li span{
    color:#ffffff;
    font-size: var(--fs-18);
    font-weight: 600;
}

 /* Pricing-end */


/*questions start*/
.questions{
    padding: 60px 0;
}
.questions .title h2{
    font-size: var(--fs-48);
    text-align: center;
    color: white;
    display: block;
    font-weight: 600;
}
.questions .que-body{
    width: 886px;
    height:510px;
    border:0px solid rgba(88, 84, 84, 0.402);
    margin: 0 16px;
    padding: 0 16px;
    text-align: center;
}
.questions .que-body  ul li{
    padding: 40px 20px 16px;
    border-bottom: 1px solid rgba(103, 102, 102, 0.557);
    text-align: left;
}
.questions .que-body ul li span{
    font-size: var(--fs-24);
    font-weight: 400;
    color:#bdbfd4 ;
}
.questions .que-body ul li i{
    padding-right: 20px;
    color:#bdbfd4 ;
    font-size: 20px;
}
/*text hover start*/
.questions .que-body span:hover i {
    color: var(--primary-color);
}
.questions .que-body span:hover{
    color:var(--primary-color);
}
/*text hover end*/

/*questions end*/




/*form start*/
.form {
    padding:60px 0;

}
.form .form-body{
    display: block;
    width:1310px;
    height:780px; 
    background:#171825;
    border:2px solid rgba(92, 88, 88, 0.269);
    border-radius:25px;
    margin: 0 -16px;
    padding: 72px 170px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 9999;
    left:0;
  
}
.form .form-body span{
    color: var(--primary-color);
}
.form  .form-body h2{
    font-size:40px;
    color: white;
    margin: 0px 0px 24px;
    padding-bottom: 20px;
}
.form .form-body a{
    font-size: var(--fs-16);
    padding: 16px 24px ;
    background:var(--primary-color);
    color:black;
    border-radius:10px;
    font-weight: 600;
}
.form .form-body .svg{
    width:92px;
    height: 92px;
    color:var(--primary-color);
    left:60%;
    position:absolute;
    top:-3;
    transform: translate(-50%);
    z-index: 999;
    padding-top: 25px;
    
}
.form .form-body img{
    width:960px;
    height:600px;
    border-top:2px solid var(--primary-color);
    margin-top:60px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
    border-left: 0.1px solid yellow;
    border-right: 0.1px solid var(--primary-color);
  position: absolute;
}

.form .form-body::after{
    position:absolute;
    content:' ';
    box-sizing: border-box;
    width:100%;
    height:100%;
    transform: translatex(80deg);
    background-image:url('../img/blurry-shape-4.svg');
    z-index:-1;
    background-repeat: no-repeat;
    bottom:0;
    right:0;
    background-position:bottom;
    background-position: center;
}

/*form end*/


/*footer start*/
footer{
    padding: 60px 0px;
    background-image:url('../img/stripe-dark.svg');
    background-repeat: no-repeat;
    background-position: cover;
    top:0;
}
footer .footer-body .logo {
    width:140px;
    height:35.63px;
}
footer .footer-body .info p{
    color:var(--secondary-color);
    padding-top: 10px;
    margin-right: 100px;
    font-size:var(--fs-14);
    margin-top: 10px;
}
footer  .footer-body h2{
    color: var(--white-color);
    margin-bottom:10px;
    font-size: 18px;
}
footer .footer-body .link ul li{
    padding: 5px 0;
    margin-right: 10px;
}
footer .footer-body .link ul li a{
    font-size: var(--fs-14);
    color:var(--secondary-color);
}
footer .footer-body ul li a:hover{
    color:var(--primary-color);
    padding-left: 8px;
    transition: 0.3s;
}
footer .footer-body .news .social-icon a svg{
    width:20px;
    margin-right:10px;
    color:var(--secondary-color);
    padding-left: 0;
}

footer .footer-body .news .social-icon a :hover{
    color: var(--primary-color);
    transition: 0.2s;
}
footer .footer-body .news form input{
    padding:12px 24px;
    text-transform: capitalize;
    background-color: rgba(48, 43, 43, 0.537);
    color: var(--white-color);
    border:1px solid #564f4f49;
    border-radius: 8px 0px 0px 8px;
    width:281px;
    height:51px;
    font-size: var(--fs-16);

}
footer .footer-body .news form input:hover {
    border: 1px solid var(--primary-color);
    transition: 0.5s;
    
}
footer .footer-body .news form input:hover a{
    border: 1px solid var(--primary-color);
    transition: 0.5s;
    
}
footer .footer-body .news form{
    margin-top: 20px;
}
footer .footer-body  form  input:hover{
    color:var(--primary-color);
}
footer .footer-body .news form .send{
    padding: 14px 15px;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    border-radius: 0px 8px 8px 0px;
    border:2px solid yellow;
    width:57px;
    height: 52px;
}
footer .footer-body .news form .send a i{
    font-size: var(--fs-24);
    color: var(--black-color);
    width: 24px;
    height: 24px;
} 
footer .copyright span{
    color:var(--primary-color);
}
footer .copyright{
    display: block;
    text-align: center;
    margin:0px 80px;
    padding: 24px 0px 12px;
    margin: 24px 0 12px;
}
footer .footer-body{
    width:1300px;
    height:200px;
} 
footer .footer-body .news{
    width:338px;
    height: 183px;
    justify-items: end;
}
footer .footer-body .social-icon{
    margin-top:20px
}
footer .footer-body .social-icon a{
    font-size: 16px;
    padding-left: 0;
    padding: 5px;
}


/*footer end*/

